
<ul *ngIf="(isLoggedIn | async)" class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" href="#" [routerLink]="['/home']">Home</a>
    </li>
    <li *ngIf="(isAdmin | async)" class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" href="#" [routerLink]="['/userlist']">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" href="#" [routerLink]="['/useredit', currentUser.id]">Edit User</a>
    </li>
    <li class="nav-item">
      <!-- <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" href="#" [routerLink]="['/home']">Home</a> -->
      <a class="nav-link" href="#" [routerLink]="['/login']">Logout</a>
    </li>
  </ul>
<alert></alert>
<router-outlet></router-outlet>