<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="form-signin">
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <form [formGroup]="changePwdForm" (ngSubmit)="onSubmit()" class="form-horizontal" >
          <h4 class="form-signin-heading">Please fill the detail</h4>
          <label for="oldPassword" class="sr-only">Current Password</label>
          <input class="form-control middleTextControl" type="password" id="txtOldPassword" name="oldPassword" placeholder="Current Password" [formControl]="oldPassword" [(ngModel)]="user.password" />
          <label for="newPassword" class="sr-only">New Password</label>
          <input class="form-control lastTextControl" type="password" id="txtNewPassword" name="newPassword" placeholder="New Password" [formControl]="newPassword" />
        <button type="submit" [disabled]="changePwdForm.invalid" class="btn btn-lg btn-default btn-block">Change Password</button>
      </form>
      </div>
      <div class="col-md-4" style="padding-top: 2em">
            <div *ngIf="oldPassword.hasError('required')" class="alert alert-danger">
              Please provide current password
            </div>
            <div *ngIf="newPassword.hasError('required')" class="alert alert-danger">
              Please provide new password
            </div>
      </div>
    </div>
</div>