<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="form-signin">
    <div class="row">
      <div class="offset-md-4 col-md-4" *ngIf="user">
        <form [formGroup]="userEditForm" (ngSubmit)="onSubmit(user)" class="form-horizontal" >
          <h4 class="form-signin-heading">Please fill the detail</h4>
          <label for="firstName" class="sr-only">First Name</label>
          <input class="form-control topTextControl" type="text" id="txtFirstname" name="firstName" placeholder="First Name" [formControl]="firstname" [(ngModel)]="user.firstname" />
          <label for="lastName" class="sr-only">Last Name</label>
          <input class="form-control middleTextControl" type="text" id="txtLastname" name="lastName" placeholder="Last Name" [formControl]="lastname" [(ngModel)]="user.lastname" />
          <label for="userName" class="sr-only">Username</label>
          <input class="form-control middleTextControl" type="text" id="txtUsername" name="userName" placeholder="Username" [formControl]="username" [(ngModel)]="user.username" />
          <label for="email" class="sr-only">E-mail</label>
          <input class="form-control middleTextControl" type="email" id="txtEmail" name="email" placeholder="E-mail" [formControl]="email" [(ngModel)]="user.email" />
          <!-- <label for="password" class="sr-only">Password</label>
          <input class="form-control middleTextControl" type="password" id="txtPassword" name="password" placeholder="Password" [formControl]="password" [(ngModel)]="user.password" />
          <label for="retypePassword" class="sr-only">Retype Password</label>
          <input class="form-control lastTextControl" type="password" id="txtRetypePassword" name="retypePassword" placeholder="Confirm Password" [formControl]="retypePassword" /> -->
          <div class="checkbox" *ngIf="currentUser!=null && currentUser.isAdmin==true">
                <label>
                  <input type="checkbox" id="isAdmin" name="isAdmin" value="is-admin" [formControl]="isAdmin" [(ngModel)]="user.isAdmin" >
                  Is Admin
                </label>
              </div>
        <button type="submit" [disabled]="userEditForm.invalid" class="btn btn-lg btn-default btn-block">Submit</button>
          <a *ngIf="currentUser!=null && currentUser.id==user.id" class="btn btn-link" href="javascript:void(0)" routerLink="/changePassword">Change Password</a>
      </form>
      </div>
      <div class="col-md-4" style="padding-top: 2em">
          <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
          class="alert alert-danger">
       <div *ngIf="firstname.hasError('required')">
         Please enter first name
       </div>
     </div>
     <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
               class="alert alert-danger">
            <div *ngIf="lastname.hasError('required')">
              Please enter last name
            </div>
          </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)"
               class="alert alert-danger">
            <div *ngIf="username.hasError('required')">
              Please enter username
            </div>
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger">
              Please enter valid email
          </div>
          <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger">
            <div *ngIf="password.hasError('required')">
              Please enter password
            </div>
          </div>
          <div *ngIf="!password.hasError('required') && retypePassword.invalid && (retypePassword.dirty || retypePassword.touched)"
               class="alert alert-danger">
            <div *ngIf="retypePassword.hasError('required')">
              Please retype password
            </div>
            <div *ngIf="!retypePassword.hasError('required') && !password.hasError('required') && retypePassword.errors?.MatchPassword">
              Passwords don't match
            </div>
          </div> -->
      </div>
    </div>
</div>